@import "../../media-queries.scss";
.button {
  display: inline-flex;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 0.25rem;
  border: none;
  overflow: hidden;
  transition: all 0.5s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
    transform-origin: left;
    transform: scaleX(0);
    z-index: -1;
  }

  &:hover:not(:disabled) {
    transform: scale(0.98);
    &::before {
      transform: scaleX(1);
    }
  }
  &:focus-visible {
    outline: none;
    &::before {
      transform: scaleX(1);
    }
  }

  &.active {
    transform: scale(1.01);
  }
}

@mixin button-base(
  $foreground,
  $background,
  $defaultText,
  $hoverText,
  $isGhost
) {
  color: $defaultText;
  background-color: $background;
  &::before {
    background: $foreground;
  }
  &:hover {
    color: $hoverText;
  }
  @if $isGhost {
    border: 1px
      solid
      color-mix(in oklab, var(--color-neon-green) 40%, transparent);

    background-color: transparent;
  }
}

@mixin button-size($size) {
  @if ($size == "sm") {
    padding: 0.5rem;
    font-size: 0.5rem;
  } @else if ($size == "md") {
    padding: 1rem;
    font-size: 1rem;
  } @else if ($size == "lg") {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem;
    @include respond-below(lg) {
      @include button-size(md);
    }
  }
}

.sm {
  @include button-size(sm);
}

.md {
  @include button-size(md);
}

.lg {
  @include button-size(lg);
}

.green {
  @include button-base(
    var(--color-bg),
    var(--color-neon-green),
    var(--color-bg),
    var(--color-neon-green),
    false
  );
}

.ghost-green {
  @include button-base(
    var(--color-neon-green),
    var(--color-neon-green),
    var(--color-neon-green),
    var(--color-bg),
    true
  );
}
