.input {
  width: 100%;
  appearance: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  outline: none;
  border: solid 1px var(--color-light-gray);
  background-color: var(--color-dark-gray);
  color: var(--color-off-white);
  caret-color: var(--color-off-white);
  display: block;
  transition: border 0.3s ease-in;
  &:focus {
    border: solid 1px var(--color-neon-green);
  }
}
