.label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--color-off-white);
  &:is(:where(.peer):disabled ~ *) {
    cursor: not-allowed;
    opacity: 70%;
  }
}

.danger {
  border-color: #ff2e5b;
}
