.preloader {
  background-color: var(--color-bg);
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  font-weight: 200;
  color: var(--color-off-white);
}

.progress {
  color: var(--color-off-white) !important;
  font-size: 2rem;
}
