@use "../../media-queries.scss" as mq;

.about {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  @include mq.respond-below(md) {
    flex-direction: column;
  }
}

.image {
  border-radius: 5px;
  position: relative;
  max-height: max-content;
}

.imageContainer {
  flex-basis: 100%;
  align-self: flex-start;
}

.textContainer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  @include mq.respond-below(md) {
    justify-content: start;
    align-items: center;
  }
}
