@use "../../media-queries.scss" as mq;

.contact {
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include mq.respond-above(lg) {
    flex-direction: row;
  }
}

.fieldset {
  border: none !important;
  padding: 0;
}

.desc {
  flex-basis: 100%;
  align-self: flex-start;
  @include mq.respond-above(lg) {
    position: sticky;
  }
}

.form {
  margin-top: 1rem;
  flex-basis: 100%;
}

.submit {
  margin-top: 1rem;
  text-align: end;
}
