@use "@/assets/media-queries.scss" as mq;

.hero {
  position: sticky;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  inset: 0;
  min-height: 100svh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
  overflow: hidden;
}

.titleText {
  font-weight: 700;
  color: var(--color-off-white);
  font-size: var(--fs-xl);
  opacity: 0;
}

.linesClass {
  overflow: hidden;
}

.fakeContainer {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: -999999;
}

.buttonContainer {
  margin-top: 2.25rem;
}

.buttonOne {
  margin-right: 1.5rem;
}
