@import "../../media-queries.scss";
.swiperSlide{
  width: fit-content;
  height: fit-content;
}
.wrapper {
  margin-top: 1rem;
  width: 100%;
}


.buttonWrapper {
  position: relative;
  padding: 2rem 0;
}

.button {
  position: absolute;
  border-color: #2e364f;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: color-mix(in oklab, #060918 90%, transparent);
  color: #f0f2fe;
  height: fit-content;
  border-radius: calc(infinity * 1px);
  padding: 1rem;
  cursor: pointer;
 


}

.right{
   right: 0;
   margin-right: 0.5rem;
}

.left{
  left: 0;
  margin-left: 0.5rem;
}