.card {
  position: relative;
  aspect-ratio: 2/3;
  width: clamp(18rem, 42vmin, 22rem);
  overflow: hidden;
  border-radius: 6px;
  a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border-color: color-mix(in oklab, #fffef9 30%, transparent);
  }
}

.wrapper {
  margin-top: 1rem;
  width: 100%;
}

.buttonWrapper {
  position: relative;
  padding: 2rem 0;
}

.button {
  border-color: #2e364f;
  background-color: color-mix(in oklab, #060918 90%, transparent);
  color: #f0f2fe;
  height: fit-content;
  border-radius: calc(infinity * 1px);
  padding: 1rem;
}
