@use "./media-queries.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-alt: "Inter", sans-serif;
  --color-bg: rgb(15, 23, 42);
  --color-dark-blue: rgb(23, 28, 61);
  --color-gray: rgb(148, 163, 184);
  --color-neon-green: rgb(94, 234, 212);
  --color-blue-green: rgb(21, 47, 76);
  --color-off-white:rgb(226, 232, 240);
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  margin: 0;
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
}
body {
  -webkit-font-smoothing: antialiased;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  min-height: 100vh;
}
